
<div class="reserve-info-show-container">
    <table class="reserve-info-show-table">
        <tr>
            <th>予約した部屋</th>
            <td><%= @hotel.name %></td>
        </tr>
        <tr>
            <th>開始日</th>
            <td><%= @reserve_info.start_date %></td>
        </tr>
        <tr>
            <th>終了日</th>
            <td><%= @reserve_info.end_date %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td><%= @reserve_info.price %></td>
        </tr>
    </table>
</div>