// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #333333;
}

.signup-form-area {
    width: 600px;
    margin: 40px auto 100px;
    padding: 47px 120px 25px;
    border: 1px solid gray;
}

.signup-form-area p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.signup-link {
    text-decoration: none;
    margin-top: 23px;
    text-align: center;
    display: block;
}

span {
    margin-right: 15px;
}

.input-form {
    margin-bottom: 12px;
}

.signup-name, .signup-email, .signup-password, .signup-password-confirmation {
    height: 38px;
    width: 80%;
}

.signin-form-area {
    width: 600px;
    margin: 40px auto 100px;
    padding: 47px 120px 25px;
    border: 1px solid gray;
}

.signin-form-area p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.signin-link {
    text-decoration: none;
    margin-top: 23px;
    text-align: center;
    display: block;
}

.signin-email, .signin-password {
    height: 38px;
    width: 80%;
}

.posts-hotel-container {
    padding-left: 60px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #333333;
}

.posts-hotel-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

.posts-hotel-list {
    margin-bottom: 90px;
    table-layout: auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none;
    // border-collapse: separate;
    // border-spacing: 2px;
}

.posts-hotel-list tr {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: none;
    border-left: none;
}

.posts-hotel-list tbody tr td {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

th {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}

td {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

th, td {
    padding: 10px 15px;
}

.name-cell {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}